// Colors
$white: #ffffff;
$black: #000000;
$gray: #f1f1f1;
$light-gray: #ececec;

$accent: #63d1bb;
$accent-dark: #56c3b2;

$text: #444444;
$title: #010000;

// Size
$tablet: 768px;
$desktop: 1150px;
