.contacts {

}

.contacts__title {

}

.contacts__item {
  display: flex;

  font-size: 15px;
  line-height: 30px;
}

.contacts__label {

}

.contacts__link {
  text-decoration: none;
  color: $text;
}

.contacts__address {
  font-style: normal;
}

.contacts__map {

}

.contacts__btn {

}
