.main-nav {}

.main-nav__toggle {}

.main-nav__wrapper {}

.main-nav__list {}

.main-nav__info {}

.main-nav__link {
  display: block;

  padding: 30px 20px 30px 76px;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  color: $black;

  &--search {}

  &--cart {}
}
