.main-nav {
  position: relative;

  @media (max-width: $tablet) {
    border-top: 1px solid $light-gray;
  }

  @media (min-width: $tablet) {
    width: 670px;
    margin: 0 auto;
  }

  @media (min-width: $desktop) {
    width: 1050px;
  }
}

.main-nav__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.main-nav__logo {
  margin: 21px auto;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet) {
    order: 1;
    display: flex;
    align-items: center;

    margin: 3px 0 0;
  }

  @media (min-width: $desktop) {
    order: 2;

    margin-left: auto;
  }
}

.main-nav__logo-image {
  @media (min-width: $tablet) {
    width: 113px;
    height: 47px;
  }

  @media (min-width: $desktop) {
    width: 149px;
    height: 73px;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 30px;
  right: 30px;

  display: block;
  width: 20px;
  height: 14px;

  font-size: 0;

  background-color: transparent;
  background-image: url("../img/icon-menu-open.svg");
  border: none;

  @media (min-width: $tablet) {
    display: none;
  }
}

.main-nav__list {
  @media (min-width: $tablet) {
    order: 3;
    display: flex;
  }

  @media (min-width: $desktop) {
    order: 1;
  }
}

.main-nav__info {
  @media (max-width: $tablet - 1px) {
    width: 100%;
  }

  @media (min-width: $tablet) {
    order: 2;
    display: flex;

    margin-left: auto;
  }

  @media (min-width: $desktop) {
    order: 3;

    margin-left: 100px;
  }
}

.main-nav__extension {
  display: none;

  @media (min-width: $desktop) {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    order: 4;
    display: flex;
  }
}

.main-nav__delivery {
  display: none;

  @media (min-width: $tablet) {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;

    order: 3;
    display: block;

    margin-top: 19px;

    line-height: 24px;
  }

  @media (min-width: $desktop) {
    order: 5;
  }
}

.main-nav__link {
  position: relative;
  display: block;

  padding: 27px 20px 27px 76px;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  color: $black;

  &:hover,
  &:focus {
    opacity: 0.6;

    .main-nav__icon {
      fill: $accent;
      opacity: 1;
    }
  }

  &:active {
    opacity: 0.3;

    .main-nav__icon {
      fill: $accent;
      opacity: 0.3;
    }
  }

  @media (max-width: $tablet - 1px) {
    border-bottom: 1px solid $light-gray;
  }

  @media (min-width: $tablet) {
    display: flex;
    align-items: center;

    height: 88px;
    padding: 0 0 0 32px;
    box-sizing: border-box;

    border-left: 1px solid $light-gray;
  }

  &--search {
    margin-left: auto;

    @media (min-width: $tablet) {
      padding: 3px 31px 0 32px;
    }

    span {
      @media (min-width: $tablet) {
        font-size: 0;
      }
    }
  }

  &--cart {
    .main-nav__icon {
      @media (min-width: $tablet) {
        margin-right: 32px;
      }
    }

    span {
      @media (min-width: $tablet) {
        margin-bottom: 3px;
      }
    }
  }

  .main-nav__icon {
    opacity: 0.2;

    @media (max-width: $tablet - 1px) {
      position: absolute;
      left: 31px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
