.main-catalog {
  @media (min-width: $tablet) {
    display: flex;

    width: 670px;
    margin: 0 auto;
  }

  @media (min-width: $desktop) {
    width: 1050px;
  }
}

.main-catalog__btn {
  display: block;

  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  color: $white;

  @media (min-width: $tablet) {
    flex-shrink: 0;

    width: 50%;
  }

  &--lamp {
    background-color: $accent;
  }

  &--lego {
    background-color: $accent-dark;
  }
}
