.manufacture {
  width: 260px;
  margin: 0 auto 60px;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    position: relative;
    width: 668px;
    margin-bottom: 64px;
    padding-top: 455px;
  }

  @media (min-width: $desktop) {
    width: 1050px;
    margin: 28px auto 105px;
    padding-top: 0;
    padding-left: 682px;
  }

  &:hover,
  &:focus {
    .manufacture__wrapper {
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    }
  }

  &.active {
    .manufacture__wrapper {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    }
  }
}

.manufacture__wrapper {
  border: 1px solid #ececec;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop) {
    min-height: 453px;
  }
}

.manufacture__title {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 20px 30px;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;

  @media (min-width: $tablet) {
    padding: 33px 40px 0;

    font-size: 20px;
    letter-spacing: 0.1px;
  }

  @media (min-width: $desktop) {
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 50px 0 77px;
  }

  svg {
    flex-shrink: 0;
    display: block;
    margin-right: 22px;

    fill: $accent;

    @media (min-width: $tablet) {
      margin-right: 34px;
    }

    @media (min-width: $desktop) {
      margin-bottom: 22px;
      margin-left: 1px;
    }
  }
}

.manufacture__video {
  position: relative;
  left: -1px;

  @media (min-width: $tablet) {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.manufacture__image {
  @media (min-width: $tablet) {
    width: 668px;
    height: 455px;
  }

  @media (min-width: $desktop) {
    width: 682px;
  }
}

.manufacture__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;

  background: transparent;
  border: none;
  outline: none;

  &:hover,
  &:focus {
    .manufacture__icon {
      @media (min-width: $desktop) {
        width: 121px;
        height: 92px;
      }
    }
  }

  &:active {
    .manufacture__icon {
      @media (min-width: $desktop) {
        width: 81px;
        height: 62px;
      }
    }
  }
}

.manufacture__icon {
  display: block;

  @media (min-width: $tablet) and (max-width: $desktop - 1px) {
    width: 102px;
    height: 78px;
  }
}

.manufacture__text {
  margin: 34px;

  font-size: 13px;
  line-height: 24px;

  @media (min-width: $tablet) {
    margin: 28px 40px 0;

    font-size: 15px;
    line-height: 32px;
  }

  @media (min-width: $desktop) {
    margin: 34px 40px 0 77px;

    line-height: 30px;
  }
}

.manufacture__btn {
  margin: 0 34px 34px;
  width: auto;

  @media (min-width: $tablet) {
    margin: 32px 40px 45px;
  }

  @media (min-width: $desktop) {
    margin: 46px 58px 0 78px;
  }
}
