.offer {}

.offer__title {}

.offer__label {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
}

.offer__text {
  line-height: 24px;
}

.offer__list {}

.offer__field {}

.offer__value {}

.offer__image {}

.offer__price {
  display: block;

  padding: 28px 0;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.offer__btn {}
