.page-title {
  display: flex;
  justify-content: center;

  margin: 0;
  padding: 70px 0 76px;

  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  color: $black;

  background-color: $gray;

  @media (min-width: $tablet) {
    padding: 92px 0 90px;

    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop) {
    padding: 94px 0 120px;

    font-size: 53px;
    line-height: 57px;
  }
}
